<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Película</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="text-center">
<h2>Formulario de Película</h2>
<form th:object="${pelicula}" th:action="${pelicula.idPelicula} ? @{'/peliculas/editar/' + ${pelicula.idPelicula}} : @{'/peliculas/crear'}" method="post">
  <label>Título: <input type="text" th:field="*{titulo}" class="form-control"/></label><br />
  <label>Director: <input type="text" th:field="*{director}" class="form-control"/></label><br />
  <label>Año Estreno: <input type="text" th:field="*{fechaEstreno}" class="form-control"/></label><br />
  <label>Género: <input type="text" th:field="*{genero}" class="form-control"/></label><br />
  <div class=" mt-4">
  <input type="submit" value="Guardar" class="btn btn-primary" />
  </div>
</form>
</div>
<div class="mt-4 text-center">
<a th:href="@{/peliculas}" class="btn btn-warning">Volver a la lista de Películas</a>
</div>
</body>
</html>